body {
    background-color: antiquewhite;
}
h1 {
    color: #ff00ff;
    text-align: center;
}
h2 {}

.naslov {
    font-family: sans-serif;
}

#sadrzaj p{
    line-height: 1.25rem;
    color: blue;
}