:root {
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    font-weight: 800;
}

div {
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border: 0.1rem solid pink;
}

body {
    background: #1746A4;
    background: -moz-linear-gradient(-45deg, #1746A4 0%, #4AC8CB 50%, #E7AAD6 100%);
    background: -webkit-linear-gradient(-45deg, #1746A4 0%, #4AC8CB 50%, #E7AAD6 100%);
    background: linear-gradient(135deg, #1746A4 0%, #4AC8CB 50%, #E7AAD6 100%);
}

section {
    display: grid;
    grid-template-areas:
    ". a a b"
    "c d d b"
    "e e e b";
    row-gap: 1rem;
    column-gap: 1rem;
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}