:root {
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    font-weight: 800;
}

.istaknuto {
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border: 0.1rem solid pink;
}

body {
    background: blue;
    background: -moz-linear-gradient(-45deg, blue 0%, aqua 50%, pink 100%);
    background: -webkit-linear-gradient(-45deg, blue 0%, aqua 50%, pink 100%);
    background: linear-gradient(135deg, blue 0%, aqua 50%, pink 100%);
}

section {
    display: grid;
    grid-template-areas:
    ". a a b"
    "c d d b"
    "e e e b";
    row-gap: 1rem;
    column-gap: 1rem;
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}