body {
    background: #1746A4;
    background: -moz-linear-gradient(-45deg, #1746A4 0%, #4AC8CB 50%, #E7AAD6 100%);
    background: -webkit-linear-gradient(-45deg, #1746A4 0%, #4AC8CB 50%, #E7AAD6 100%);
    background: linear-gradient(135deg, #1746A4 0%, #4AC8CB 50%, #E7AAD6 100%);
}