:root {
    font-family: Arial, Helvetica, sans-serif;

    --gray-blue: #2C3E50;
    --light-blue: #3498DB;
    --gold: #FDCB6E;
    --pink: #FFE6E6;
    --red: #C0392B;
    --light-gray: #EDEEF1;
    --dark-gray: #7F8C8D;
}

body {
    background-color: var(--light-gray);
}


h2 {
    text-align: center;
    color: var(--dark-gray);

    font-style: italic;
}

ol {
    list-style: decimal-leading-zero;
    padding-left: 5rem;
}

ol p{
    
}

li p{
    color: orange;
    font-weight: 800;
}

.main_box {
    border-radius: 0.75rem;
    margin: 3rem auto;

    background-color: white;
}