body {
    background-color: rgb(70, 70, 70);
}

p{
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: larger;
}

.card {
    position: relative;
    display: flex;
    width: 190px;
    height: 254px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.card::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 130%;
    background-image:
        linear-gradient(180deg, magenta, cyan);
    animation: animate 3s linear infinite;
    transition: all .3s linear;
}

.card::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: black;
    border-radius: 15px;

}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}