:root {
    font-family: Arial, Helvetica, sans-serif;
    --salmon: #FF4958;
}

body {background-color: #CFD8E8;}

.ct {
    min-width: 50dvw;
    max-width: 100dvw;
    inline-size: 90%;
    max-inline-size: 50dvw;
    min-height: 70dvh;
    min-block-size: 70dvh;
    margin: 1dvh 25dvw;

    display: grid;
    grid-template-areas:
    "a a"
    "b c"
    "d d";
    row-gap: 1rem;
    column-gap: 1rem;
}

.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}

.a,.d {text-align: center;}
.b,.c {
    text-align: left;
    min-width: 25dvw;
    max-width: 25dvw;
}

.box {
    background-color: #F5F8FA;
    padding: 3rem;
}

.box,.pr,img {border-radius: 15px;}



/* Area A */
.pr {
    color: white;
    background-color: var(--salmon);
    max-width: fit-content;
    padding: 5px 15px;
    margin: 0 auto;
}

h1 {font-size: 3rem;}

img {max-width: 50dvw;}



/* Area B & C */
h2 {font-size: medium;}



/* Area B */
li span {
    color: var(--salmon);
    font-weight: bold;
}