:root {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 1fr 1fr 1fr;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.c {
    grid-area: c;
    font-family: serif;
    padding: 20px;
}

.a, .c {
    border-top: 2px solid black;
}
