:root {
    font-family: sans-serif;
    --granica: 2px solid blue;
}

h1 {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 1fr 1fr 1fr;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
    border-left: var(--granica);
    border-bottom: var(--granica);
    border-right: var(--granica);
}

.c {
    grid-area: c;
    font-family: serif;
    padding: 20px;
}

.a, .c {
    border-top: var(--granica);
}
